*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #25243d;
}

.LOGO {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

ul {
    background-color: #16161f;
}

li {
    font-size: 20px;
    margin: 0 15px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}




.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/back-1.jpg) ;
    background-attachment: fixed;
}

.empty {
    width: 100%;
    height: 50px;
}

.empty2 {
    width: 100%;
    height: 50px;
}

.about {
    width: 50%;
    height: 200px;
    background-color: #25243d;
    margin: auto;
    padding: 20px;
    border: #cfcfcf 1px solid;

}

h1 {
    
    color: white;
    text-align: center;
    font-family: 'Cinzel', serif;

}

h4 {
    font-size: 15px;
    margin: auto;
    color: white;
    text-align: center;
    width: 90%;
    font-family: 'Cinzel', serif;

}

.firm {
    padding: 20px;
    margin: auto;
    width: 50%;
    height: 350px;
    text-align: center;
    background-color: #16161f;
    border: #cfcfcf 2px solid;
    border-radius: 10px;
}

.rev {
    width: 60%;
    text-align: center;
}

.Nam {
    background-color: #7a7a7aa9;
    color: white;
}

.Ema {
    background-color: #7a7a7aa9;
    color: white;
}

.rev {
    width: 80%;
    height: 100px;
    background-color: #7a7a7aa9;
    color: white;
    
}

h3 {
    color: white;
    font-family: 'Cinzel', serif;


}

.button {
    margin: auto;
    height: 50px;
    background-color: #25243d;
    border-radius: 10px;
    margin-top: 50px;
    width: 150px;
    align-items: center;
    color: white;
    border: #cfcfcf 2px solid;

}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}


.button:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.719);

    animation: bounce 0.7s;
    background-color: #2f2e50;
    border: #cfcfcf 2px solid;
    transition: ease-in-out 100ms;
    
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 10px;
    }
      
    li {
        font-size: 15px;
        margin: 0 15px;
    }
    
    
  }