*{
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 100px;
    background-color: #25243d;
}

.LOGO {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

ul {
    background-color: #16161f;   
}

li {
    font-size: 20px;
    margin: 0 15px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}



.background {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/back-1.jpg) ;
    background-attachment: fixed;
    position: relative;
}





.HeroText {
    margin: auto;
    width: 100%;
    height: 700px;
    padding: 100px 50px;
    
}

.intro {
  
    width: 90%;
    height: 400px;
    margin: auto;
}

.Go {
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    padding-top: 1.5%;
    text-align: center;
    background-color: #464477;
    box-shadow: 25px 15px 27px -5px rgba(0,0,0,0.57);
    -webkit-box-shadow: 25px 15px 27px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 25px 15px 27px -5px rgba(0,0,0,0.57);
    color: white;
    border-radius: 100px;
    border: #16161f 2px solid;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}



.go:hover{
    box-shadow: 35px 25px 37px 5px rgba(0, 0, 0, 0.719);
   
    animation: bounce 0.7s;
    background-color: #2f2e50;
    border: #cfcfcf 2px solid;
    transition: ease-in-out 100ms;
    
 }


.go:hover{
    background-color: #2f2e50;
    border: #cfcfcf 2px solid;

}



h1 {
    font-size: 60px;
    margin: auto;
    width: 35%;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Cinzel', serif;
}

.intro p {
    margin: auto;
    width: 30%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    padding-top: 5%;
    
    font-family: 'Cinzel', serif;
    
}

.Go p {
    margin: auto;
    font-size: 20px;
    width: 50%;
    margin-top: -10%;
}

a {
    text-decoration: underline;
    color: #16161f00;
}

a:hover {
    text-decoration: underline;
    color: #16161f00;
}



@media only screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
        margin: auto;
        text-align: center;
       width: 100%;
    }

    .Go p {
        margin-top: -5%;
    }

    .intro p {
        width: 90%;
    }

    li {
        font-size: 15px;
        margin: 0 15px;
    }

    .Go {
        text-align: center;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    }


  }







.block-2 {
    width: 700px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    float: right;
     margin-top: 700px;
     margin-right: 150px;
     position: relative;
}

.add-2 {
   position: absolute;
   left: 50px;
   top: 50px;
   width: 250px;
   height: 250px;
   background-color: red;
}

.info-2 {
  width: 400px;
  height: 200px;
  
  background-color: blue;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
