*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #25243d;
}

.LOGO {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

ul {
    background-color: #16161f;
}

li {
    font-size: 20px;
    margin: 0 15px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
    
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}




.background {
width: 100%;
height: 1500px;
background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/quiz-back.jpg) ;
background-attachment: fixed;

}

.short {
    width: 100%;
    height: 400px;
    background-color: red;
}

.flex-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    margin: 150px;
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: #25243d;
    box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    margin: 150px;
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: #25243d;
    box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    }

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 150px;
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: #25243d;
    box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -12px 27px 8px rgba(0,0,0,0.75);
    }

 .flex-item:hover{
    /* background-color: #343355; */
    background-color: #16161f;

    
 }

    p {
        font-size: 20px;
        color: rgb(194, 193, 193);
        padding: 5px;
    font-family: 'Playfair Display SC', serif;

    }

    



    /* WAND ACCORDIAN */

    .accordian-button-1 {
        background-color: #25243d;
        width: 100%;
        height: 100px;
        border: solid black 2px;
        margin-top: 700px;
    }
    
    h4 {
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: 'Playfair Display SC', serif;

    }

    .accordian-1 {
        display: none;
        position: relative;
    }
    
    .add-1 h1 {
        position: absolute;
        top: 40px;
        left: 20px;
        font-size: 50px;
        font-family: 'Architects Daughter', cursive;
        color: white;
    }
    
    .add-1-child h2 {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        font-family: 'Playfair Display SC', serif;
        color: rgb(204, 204, 204);
    }
    
    .add-1-child img{
        width: 100%;
        height: 100%;
    
    }
    
    .image-container-1 {
       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/back-2.jpg);
       background-position: cover;
       background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .show-1 {
        margin:  auto;
        width: 500px;
        height: 100%;
        background-color: red;
    }

    .add-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 500px;
        background-color: #16161f;
        border: black 2.5px solid;
        
    }
        
    
    .add-1-child:nth-child(1) {
        width: 50%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    
    .add-1-child:nth-child(2) {
        width: 50%;
        height: 100%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    #Wands {
        width: 200px;
        height: 30px;
        
    }

   
    /* HOUSE ACCORDIAN */

    .accordian-button-2 {
        background-color: #25243d;
        width: 100%;
        height: 100px;
        border: solid black 2px;
        margin-top: 50px;
    }
    
    h4 {
        text-align: center;
        padding: auto;
        color: white;
    }

    .accordian-2 {
        display: none;
        position: relative;

    }
    
    .add-2 h1 {
        position: absolute;
        top: 40px;
        left: 20px;
        font-size: 50px;
        font-family: 'Architects Daughter', cursive;
        color: white;
    }
    
    .add-2-child h2 {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        font-family: 'Playfair Display SC', serif;
        color: rgb(204, 204, 204);
    }
    
    .add-2-child img{
        width: 100%;
        height: 100%;
    
    }
    
    .image-container-2 {
       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/back-2.jpg);
       background-position: cover;
       background-size: cover;
        width: 100%;
        height: 100%;
    }

    .show-2 {
        margin:  auto;
        width: 500px;
        height: 100%;
        
    }
    
    .add-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 500px;
        background-color: #16161f;
        border: black 2.5px solid;
        
    }
        
    
    .add-2-child:nth-child(1) {
        width: 50%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    
    .add-2-child:nth-child(2) {
        width: 50%;
        height: 100%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    

    /* ACCORDIAN 3 */

    .accordian-button-3 {
        background-color: #25243d;
        width: 100%;
        height: 100px;
        border: solid black 2px;
        margin-top: 50px;
    }
    
    h4 {
        text-align: center;
        padding: auto;
        color: white;
    }

    .accordian-3 {
        display: none;
        position: relative;

    }
    
    .add-3 h1 {
        position: absolute;
        top: 40px;
        left: 20px;
        font-size: 50px;
        font-family: 'Architects Daughter', cursive;
        color: white;

    }
    
    .add-3-child h2 {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        font-family: 'Playfair Display SC', serif;
        color: rgb(204, 204, 204);
    }
    
    .add-3-child img{
        width: 100%;
        height: 100%;
    
    }
    
    .image-container-3 {
       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/back-2.jpg);
       background-position: cover;
       background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .show-3 {
        margin:  auto;
        width: 500px;
        height: 100%;
        
    }

    .add-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 500px;
        background-color: #16161f;
        border: black 2.5px solid;
        
    }
        
    
    .add-3-child:nth-child(1) {
        width: 50%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    
    .add-3-child:nth-child(2) {
        width: 50%;
        height: 100%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }